#main{
    width: 970px;
    background-color: #225176;
    min-height: 300px;
}

#divSuperior{
    display: inline-block;
    width: 588px;
    vertical-align: top;
    text-align: right;
}

#textSuperior{
    margin-right: 38px;
    margin-block-end: 0;
}

#pie{
    min-width: 100px;
    text-align : center;
}

.textBlanco{
    color: white;
}
.colorPie{
    color:#82b4E0;
    font-size: 11px;
    padding: 10px;
}
#searchInput{
    height : 35px;
    margin-top: 9px;
    text-align: center;
}

#inputGo{
    margin-right: 15px;
    height: 30px;
    border: 1px solid white;
    background-color: #225176;
    border-radius: 5px;
    color: white;
}

#divFormulario{
    height: 60px;
    width: 260px;
    background-color: #444444;
    margin-left: 325px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
}

.linksNaranjas{
    color: #EAC43F;
}

.textoContenido{
    font-size: 23px;
    padding: 0px 200px 0 200px;
}

.img{
    width: 350px;
    margin-left: 20px;
    margin-top: 5px;
}

#nav{
    margin-top: 25px;
    margin-left: 108px;
	background-color: #3e7aad;
    display: inline-block;
	border-radius: 5px;
    padding: 10px;
    align-content: center;
}

#nav nav a{
    margin-left: 20px;
    font-size:25px;
    color: white;
    text-decoration: none;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#navUno{
    display: inline-block;
    width: 260px;
    text-align: center;
    vertical-align: top;
    color: white;
    text-decoration: none;
    list-style-position: inside;
}

#navUno a{
    color: white;
    display: inline-block;
    width: 260px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    
    margin-bottom: 10px;
    font-size: 18px;
}

#left{
    display: inline-block;
    width: 690px;
    vertical-align: top;
    text-align: center;
}

.txtBlanco{
    color: white;
}

span{
    text-decoration: none;
}

.underline{
    text-decoration: underline;
    display: inline;
}

#divMedio{
    background-color: white;
    padding-top: 10px;
}

.backWhite{
    display: inline-block;
    width: 370px;
    margin-left: 34px;
    border-top: 5px solid #71A8D5;
    vertical-align: top;
    text-align: center;
    padding-left: 20px;
    padding-right: 30px;
}

.cornflowerblue{
    color: cornflowerblue
}

.size14{
    font-size: 14px;
}

#footer{
    width: 100%;
    display: inline-block;
    font-size: 22px;
    text-align: center;
}

.inline-block{
    display: inline-block;
}